.hidden{
	display: none;
}

body{
	background: #EEE -webkit-radial-gradient(50% 70%,cover,rgba(255, 255, 255, 0.6) 0,rgba(255, 255, 255, 0) 82%);
}

.iso_block{
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #CCC;
	-webkit-transform: scaleY(0.5)rotate(-45deg); /*skew(15deg, 15deg);*/
	-moz-transform: scaleY(0.5)rotate(-45deg); /*skew(15deg, 15deg);*/
	
	-webkit-transition-property: top, left, opacity;
	-moz-transition-property: top, left, opacity;

	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;

	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
}

.iso_block.move{
	margin-top: 132px;
}

.iso_block:before, .iso_block:after{
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
}

.iso_block:before{
	top: 9px;
	left: -16px;
	background-color: #AAA;
	-webkit-transform: skew(-15deg,-15deg)rotate(45deg)skewY(30deg)scale(1,1.3);
	-moz-transform: skew(-15deg,-15deg)rotate(45deg)skewY(30deg)scale(1,1.3);
	/*rotate(45deg)scaleY(2)skewY(26.5deg)scale(0.7,0.8)*/
}

.iso_block:after{
	top: 16px;
	left: -9px;
	background-color: #888;
	-webkit-transform: skew(-15deg,-15deg)rotate(45deg)skewY(-30deg)scale(1,1.3);
	-moz-transform: skew(-15deg,-15deg)rotate(45deg)skewY(-30deg)scale(1,1.3);
	/*rotate(45deg)scaleY(2)skewY(-26.5deg)scale(0.7,0.8)*/
}

/* Color schemes */
.iso_block.iso_color_yellow { background-color: #FAE163; }
.iso_block.iso_color_yellow:before { background-color: #f8d421; }
.iso_block.iso_color_yellow:after { background-color: #cfad07; }

.iso_block.iso_color_green { background-color: #6ec276; }
.iso_block.iso_color_green:before { background-color: #4bb255; }
.iso_block.iso_color_green:after { background-color: #2d6a33; }


.iso_block.unused{
	opacity: 0;
}

input{
	border: 1px solid #CCC;
	padding: 5px;
	outline: none;
	border-radius: 3px;
	font-size: 30px;
	color: #888;
}